.mainWindow{
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.mainWindowContent{
    background-color: #66ccff;
    position: absolute;
    margin: 10;
    left: 50%;
    top: 50%;


}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
   
