.mainWindow{
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.mainWindowContent{
    position: absolute;
    margin: 10;
    left: 50%;
    top: 50%;


}
